.vscode/
.idea/
*.code-workspace

.env
.env.*

*.svg
*.jpg
*.png

logs/
**/logs/
*.log
tmp/
temp/

**/node_modules/
**/dist/
**/build/
**/.cache/

__pycache__/
**/__pycache__/

.venv/
**/.venv/
venv/

build/
dist/

postgres-data/
**/postgres-data/
pgdata/
**/pgdata/
db-data/
**/db-data/

project-docs/
notes.txt